.counter {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 350px; 
    margin: 50px; 
}

.action-button {
    background-color: #1b3039dc;
    color: #fff; 
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.action-button:hover {
    color: #ffbc0e
}

.quantity {
    font-size: 20px;
}

.add-to-cart {
    background-color: #ffbc0e;
    color: #1b3039dc;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.add-to-cart:hover{
    background-color: #1b3039dc;
    color: #ffbc0e;
    transition: all 0.3s;
}